* {
    font-size: large;
    font-family: 'Open Sans';
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    margin: 50px;
}

th {
    font-size: larger;
    padding: 10px;
}

p {
    text-align: justify;
    margin-right: 200px;
    margin-left: 200px;
}

.border {
    border-right: 1px solid gray;
}

button {
    color: rgb(91 97 103);
    border-color: rgb(91 97 103);
    background-color: white;
    font-weight: 600;
    margin-bottom: 20px;
}