* {
    font-family: 'Open Sans';
}

h2 {
    margin-left: 55px;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    width: 150px;
}

div {
    border: 1px solid gray;
    padding: 40px;
    padding-right: 45px;
    width: 20px;
    transform: rotate(45deg);
    margin: 80px;
    margin-right: 40px;
}

.fa-regular {
    transform: rotate(-45deg);
    color: red;
}

.fa-solid {
    transform: rotate(-45deg);
    padding-right: 12px;
    color: red;
}

p {
    width: 350px;
    color: gray;
}